{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col about1-image">
      <img src="https://browser-f531606a-d553-4179-8df5-823ae91b45ca.ws-eu03.gitpod.io/workspace/The_Tea_room/media/about1.jpg" class="about1-image-content">
    </div>
    <div class="col about-info-1">
      Our teas are grown ethically and sustainably in the fields of India and China, as well as growing in Europe, the Middle East and Africa. 
      Generally, green tea and black tea, which are from the same plant, grow best in the conditions of India and China. 
      Our herbal infusions are grown in a variety of places all over the globbe, depeneding on what their favourite climates are! 
      Peppermint grows best in the middle east, rooibos in South Africa, and liquorice root in and acorss Europe.
    </div>
  </div>
  <div class="row">
    <div class="col about2-image">
       <img src="https://browser-f531606a-d553-4179-8df5-823ae91b45ca.ws-eu03.gitpod.io/workspace/The_Tea_room/media/about2.jpg" class="about2-image-content"> 
    </div>
    <div class="col about-info-2">
     At the Tearoom, we're trying to do our bit for the planet and produce our delicious teas in a healthy, ethical way. 
     That's why all of our teas are organic, fairtrade and and delivered to you in zero-waste packaging. 
     In fact, you can pop the degradabble packaging in the compost along with tea bag when you are finished with them! 
     We're making sure the journey from the farms to your door produces the least amount of emissions as possible which is why we don't allow our teas to travel by plane. 
    </div>
  </div> 
</div>


{% endblock%}

{% block postloadjs %}
{{ block.super }}
{% endblock %}